@font-face {
    font-family: 'GE Dinar One';
    src: url('GEDinarOne-Light.woff2') format('woff2'),
        url('GEDinarOne-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}